body {
  margin: 5vw 10vw 0px 10vw;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #03211f;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arima Madurai', cursive;
  font-size:4rem;
}
.cover{
  display: flex;
  justify-content: center;
  align-items: center;
  height:60vh;
  background-image: url('background.jpeg');
  background-size: cover;
}
.contentName{
  display: flex;
  font-size: 1rem;
}
.contentPrice{
  display: flex;
  font-size: 1rem;
}
#photoGrid{
  display:flex;
  flex-wrap: wrap;
  margin-top: 5vmin;
  width: 100%;
  align-items: center;
  justify-content: center;
}
 #photoGrid div {
   display: flex;
   flex-direction: column;
   width:24%;
   height:60vh;
   margin:0;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   background-color:#e8d9c2;
   color: #03211f;
   border:solid 1px #ddd;
 }
 #photoGrid div:hover {
   opacity: 0.7;
 }
 #photoGrid img {
   display:flex;
   align-items: center;
   justify-content: center;
   border:none;
   width:18vw;
   height:30vh;
 }
 #photoGrid img:hover {
   opacity: 0.7;
 }
